.newTodoForm {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .newTodoInput {
    flex-grow: 1;
    max-width: 25%;
    padding: 20px;
    border: 1px solid #ccc;
    border-right: none; /* Remove the right border */
    border-radius: 4px 0 0 4px; /* Round the left corners */
    font-size: 18px;
  }
  
  .newTodoButton {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0; /* Round the right corners */
  }
  
  .newTodoButton:hover {
    background-color: #0056b3;
  }